body, h1 {
  font-family: sans-serif;
  margin: 0;
}

#app {
  height: 100vh;
}

.header {
  display: flex;
  background-color: black;
}

.logo {
  background-color: black;
  color: var(--color-highlight);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 2px solid;

}

.container {
  display: flex;
  height: 250px;
  border: 2px solid;
}

.button {
  margin: 5px;
}