body,
h1, h2   {
  font-family: sans-serif;
  margin: 0;
}

#app {
  height: 100vh;
}

.header {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: black;
}

.logo {
  background-color: black;
  color: var(--color-highlight);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
}

.button {
  cursor: pointer;
  background-color: white;
  width: 30px;
  height: 30px;
  border-top: 10px solid black;
  border-right: 10px solid black;
}

.button-right {
  transform: rotate(+45deg);
  border-left: 0;
  border-bottom: 0;
  margin-left: 20px;
}

.button-left {
  transform: rotate(-135deg);
  border-left: 0;
  border-bottom: 0;
  margin-right: 20px;
}

.day {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin: 5px;
  color: green;
  border: 1px solid black;
  border-radius: 4px;
}

.month {
  width: 100px;
  text-align: center;
}
