body, h1 {
  font-family: sans-serif;
  margin: 0;
}

#app {
  height: 100vh;
}

.header {
  display: flex;
  background-color: black;
}

.logo {
  background-color: black;
  color: var(--color-highlight);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 2px solid;

}

.container {
  display: flex;
  height: 250px;
  width: auto;
  border: 2px solid;

}

.button {
  margin: 5px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 25px;
  padding: 5px;
  margin: 5px;
  color: green;
  border: 1px solid black;
  border-radius: 4px;

}